body{
    background-color:#001c23 ;
    color: #ffff;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.nav{
    display: flex;
    gap: 45px;
    float: inline-end;
    background-color: #001c23;
    padding: 10px 25px;
    text-align: center;
    cursor: pointer;
    flex-direction: row;
}

.nav a{
    text-decoration: none;
    color: #ffff;
}

.formAddMenu{
    color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.footer{
    color: #ffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    float: bottom;
}