body{
    background-color:#001c23 ;
    color: #ffff;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.nav{
    display: flex;
    gap: 45px;
    float: inline-end;
    padding: 10px 45px;
    border-bottom: 1px solid #001c90;
}

.formAddMenu{
    color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
